body {
    font-family: sans-serif;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}



