body {
    font-family: sans-serif;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    background: #B4E1FF;
}

.title {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 33.3%;
    text-align: center;
    padding-top: 3%;
    background-color: blue;
}


.wrapper {
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 33.3%;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: chartreuse;
}

.results {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    width: 33.3%;
    padding-top: 3%;
    background-color: crimson;
}